@model Food_Feast.Models.CustomerValidate
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../../Content/css/bootstrap.css">
    <link rel="stylesheet" href="../../Content/css/login.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <link rel="icon" href="../../Content/media/Images/logo.jpg">
    <title>Food Feast | Safe & healthy food</title>
</head>
<body class="">

    <nav class="navigation">
        <a href="@Url.Action("Home")" class="head-nav__item">
            <img class="head-nav__logo" src="../../Content/media/images/logo.jpg">
        </a>

        @if (bool.Parse(System.Web.HttpContext.Current.Session["loggedIn"].ToString()))
        {
            <div class="head-nav__on-login d-flex">
                <span class="head-nav__item-user d-flex align-items-center">
                    <i class="fas fa-user"></i><code>&nbsp;</code>
                    @System.Web.HttpContext.Current.Session["loginName"].ToString()
                </span>

                <a class="head-nav__item-cart" href="@Url.Action("Order")">
                    <i class="fas fa-2x fa-shopping-cart"></i>
                    <div class="head-nav__item-cartItems">
                        @System.Web.HttpContext.Current.Session["itemsInCart"].ToString()
                    </div>
                </a>
            </div>
        }

        <label class="head-nav__menu-btn" for="menu-btn">
            <span class="fas fa-2x fa-bars"></span>
        </label>
        <input type="checkbox" id="menu-btn" class="head-nav__menu">

        <ul class="head-nav">

            <li class="head-nav__item">
                <a href="@Url.Action("Menu")" class="head-nav__link">
                    Menu
                </a>
            </li>

            <li class="head-nav__item">
                <a href="@Url.Action("Order")" class="head-nav__link">
                    Orders
                </a>
            </li>

            <li class="head-nav__item">
                <a href="@Url.Action("About")" class="head-nav__link">
                    About
                </a>
            </li>

            @if (!bool.Parse(System.Web.HttpContext.Current.Session["loggedIn"].ToString()))
            {
                <li class="head-nav__item">
                    <a href="@Url.Action("Login")" class="head-nav__link">
                        Login
                    </a>
                </li>


                <li class="head-nav__item">
                    <a href="@Url.Action("Signup")" class="head-nav__link">
                        SignUp
                    </a>
                </li>
            }
            else
            {
                <li class="head-nav__item">
                    <a href="@Url.Action("Signout")" class="head-nav__link">
                        Signout
                    </a>
                </li>

            }

        </ul>

    </nav>

    <main class="authenticate">
        <div class="container text-center">
            <div class="authenticate__login">
                <div class="card-body">
                    <h1 class="font-primary text-uppercase font-weight-bold">Sign In</h1>
                    <div class="login my-sm-4 my-0">
                        <div class=" authenticate__login-card shadow-lg">
                            <div class="card-body">
                                <h5 class="form-subheading">Hey, glad to see you back!</h5>
                                <form method="post" action="Login">
                                    @{
                                        string phone = "", password = "", final = "";
                                        if (@Model != null)
                                        {
                                            phone = (Model.phone != String.Empty) ? Model.phone : "";
                                            password = (Model.password != String.Empty) ? Model.password : "";
                                            final = (Model.final != String.Empty) ? Model.final : "";
                                        }
                                    }
                                    <div class="authenticate__control d-flex align-items-baseline form-group mb-4 ">
                                        <i class="authenticate__control--icon fas fa-phone mx-2"></i>
                                        <input type="tel" class="form-control authenticate__control--text" name="phone" placeholder="Phone number" required>
                                        <p class="text-danger d-block">@phone</p>
                                    </div>
                                    <div class="authenticate__control d-flex align-items-baseline form-group mb-5 ">
                                        <i class="authenticate__control--icon fas fa-lock mx-2"></i>
                                        <input type="password" class="form-control authenticate__control--text" name="password" placeholder="Password" required>
                                        <p class="text-danger d-block">@password</p>
                                    </div>
                                    <p class="text-danger">@final</p>
                                    <button type="submit" class="btn btn-danger text-uppercase authenticate__control--button px-5 mb-3">Login</button>
                                </form>
                                <a href="signup.html">Don't have an account ? Create one</a>
                            </div>
                        </div>
                    </div>
                    <h5 class="font-weight-bold">Or</h5>
                    <h5 class="font-primary mb-3">Sign in via social accounts</h5>

                    <a href="https://www.google.com/"><i class="social-icon-g fab fa-3x fa-google "></i></a>
                    <a href="https://www.facebook.com/"><i class="social-icon-f fab fa-3x fa-facebook-square "></i></a>

                </div>
            </div>
        </div>
    </main>


    <footer class="footer">
        <div class="footer__about">
            <h3 class="heading-quaterny">About us</h3>
            <p class="footer__paragraph">We take food seriously. We want to be sure we're serving only the best to each customer who walks through our doors.From making healthier additions to our Happy Meal®, to serving up fresh beef Quarter Pounder® burgers that are cooked when you order, we’re always finding ways to show our commitment to our customers and our food.</p>
            <a href="@Url.Action("About")" class="btn-read">Read more</a>
        </div>
        <div class="footer__info">
            <h3 class="heading-quaterny">Find</h3>
            <ul class="footer__list">
                <li class="footer__links "><a href="https://feastforall.org/privacy-policy/">Privacy</a></li>
                <li class="footer__links "><a href="https://www.feast-sf.com/terms.asp">Terms & Conditions</a></li>
                <li class="footer__links "><a href="@Url.Action("Signup")">Join Us</a></li>
                <li class="footer__links "><a href="@Url.Action("Contact")">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer__connect">
            <h3 class="heading-quaterny">Connect with us</h3>
            <ul class="footer__list">

                <li class="footer__socialicons">
                    <a href="https://www.facebook.com/feastfood/">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                            <title>facebook2</title>
                            <path d="M29 0h-26c-1.65 0-3 1.35-3 3v26c0 1.65 1.35 3 3 3h13v-14h-4v-4h4v-2c0-3.306 2.694-6 6-6h4v4h-4c-1.1 0-2 0.9-2 2v2h6l-1 4h-5v14h9c1.65 0 3-1.35 3-3v-26c0-1.65-1.35-3-3-3z"></path>
                        </svg>
                    </a>
                </li>
                <li class="footer__socialicons">
                    <a href="https://twitter.com/feastmag?lang=en">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                            <title>twitter</title>
                            <path d="M32 7.075c-1.175 0.525-2.444 0.875-3.769 1.031 1.356-0.813 2.394-2.1 2.887-3.631-1.269 0.75-2.675 1.3-4.169 1.594-1.2-1.275-2.906-2.069-4.794-2.069-3.625 0-6.563 2.938-6.563 6.563 0 0.512 0.056 1.012 0.169 1.494-5.456-0.275-10.294-2.888-13.531-6.862-0.563 0.969-0.887 2.1-0.887 3.3 0 2.275 1.156 4.287 2.919 5.463-1.075-0.031-2.087-0.331-2.975-0.819 0 0.025 0 0.056 0 0.081 0 3.181 2.263 5.838 5.269 6.437-0.55 0.15-1.131 0.231-1.731 0.231-0.425 0-0.831-0.044-1.237-0.119 0.838 2.606 3.263 4.506 6.131 4.563-2.25 1.762-5.075 2.813-8.156 2.813-0.531 0-1.050-0.031-1.569-0.094 2.913 1.869 6.362 2.95 10.069 2.95 12.075 0 18.681-10.006 18.681-18.681 0-0.287-0.006-0.569-0.019-0.85 1.281-0.919 2.394-2.075 3.275-3.394z"></path>
                        </svg>
                    </a>
                </li>
                <li class="footer__socialicons">
                    <a href="https://www.youtube.com/channel/UCgAYs96PXlUx1GrCgHaLBXg">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                            <title>youtube</title>
                            <path d="M31.681 9.6c0 0-0.313-2.206-1.275-3.175-1.219-1.275-2.581-1.281-3.206-1.356-4.475-0.325-11.194-0.325-11.194-0.325h-0.012c0 0-6.719 0-11.194 0.325-0.625 0.075-1.987 0.081-3.206 1.356-0.963 0.969-1.269 3.175-1.269 3.175s-0.319 2.588-0.319 5.181v2.425c0 2.587 0.319 5.181 0.319 5.181s0.313 2.206 1.269 3.175c1.219 1.275 2.819 1.231 3.531 1.369 2.563 0.244 10.881 0.319 10.881 0.319s6.725-0.012 11.2-0.331c0.625-0.075 1.988-0.081 3.206-1.356 0.962-0.969 1.275-3.175 1.275-3.175s0.319-2.587 0.319-5.181v-2.425c-0.006-2.588-0.325-5.181-0.325-5.181zM12.694 20.15v-8.994l8.644 4.513-8.644 4.481z"></path>
                        </svg>
                    </a>
                </li>
                <li class="footer__socialicons">
                    <a href="https://github.com/AnusBaig/Food-Feast">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                            <title>github</title>
                            <path d="M16 0.395c-8.836 0-16 7.163-16 16 0 7.069 4.585 13.067 10.942 15.182 0.8 0.148 1.094-0.347 1.094-0.77 0-0.381-0.015-1.642-0.022-2.979-4.452 0.968-5.391-1.888-5.391-1.888-0.728-1.849-1.776-2.341-1.776-2.341-1.452-0.993 0.11-0.973 0.11-0.973 1.606 0.113 2.452 1.649 2.452 1.649 1.427 2.446 3.743 1.739 4.656 1.33 0.143-1.034 0.558-1.74 1.016-2.14-3.554-0.404-7.29-1.777-7.29-7.907 0-1.747 0.625-3.174 1.649-4.295-0.166-0.403-0.714-2.030 0.155-4.234 0 0 1.344-0.43 4.401 1.64 1.276-0.355 2.645-0.532 4.005-0.539 1.359 0.006 2.729 0.184 4.008 0.539 3.054-2.070 4.395-1.64 4.395-1.64 0.871 2.204 0.323 3.831 0.157 4.234 1.026 1.12 1.647 2.548 1.647 4.295 0 6.145-3.743 7.498-7.306 7.895 0.574 0.497 1.085 1.47 1.085 2.963 0 2.141-0.019 3.864-0.019 4.391 0 0.426 0.288 0.925 1.099 0.768 6.354-2.118 10.933-8.113 10.933-15.18 0-8.837-7.164-16-16-16z"></path>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__copyright">Copyright &copy; LLC 2019 Food Feast.All Rights Reserved.Food Feast<sup>&copy;</sup>is a registered trademark by Cudatech Softs</div>
    </footer>

    <script src="../../Content/script/login.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>


